#body{
    background-color: #e9edf1;
    /* margin:50px; */
    /* margin-left: 50px;
    margin-right: 50px;
     */
     margin: 0 90px 0 90px;
     border-left-style: solid;
     border-left-color: green;
     border-left-width: 15px;
     border-right-style: solid;
     border-right-color: green;
     border-left-width: 15px;

    min-height: 850px;

}

.header{
    /* background-color: purple; */
    /* opacity: 0.9; */
    padding:10px;
    display: flex;
    border: #008000;
    border-width: 2px;
    border-style: double;
}


.logo{
    width: 120px;
}


.menu{
    float: right;
}
.menu li{
display: inline;
padding: 10px;
}
.menu a{
    text-decoration: none;
    color:green;
    /* cursor: copy; */
}
.menu a:hover{
    color:grey !important;
    font-size: 27px;
    transition-duration: 1s;
}

.menu a:visited{
    color:red;
}
.menu a:link{
    color:violet;
}

.menu a{
    text-decoration: none;
    color:darkkhaki;
    /* cursor: copy; */
}


.right-nav{
    width: 100%;
    /* background-color: pink; */
    
}




.three-box{
    margin: 60px;
    display: flex;
}
.box-body{
    padding: 15px;
    margin: 0 20px 0 20px;
    border: solid grey 1px;
    border-radius: 5px;
}

.three-box .title{
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-style: solid;
}

.title h3{
    margin:5px;
}

.button1{
    background-color: green;
    padding: 10px;
    border-radius: 4px;
    color: #e9edf1;
    border-color: #096809;
    text-decoration: none;
}

.button1:hover{
    background-color: #096809;
}



.withBgColor{

    background-color: #a1a5aa;
    min-height: 300px;
    padding: 30px;
    overflow: hidden;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHPciYCmnc9gTZymGEn5W1BanGCLWlnz4KHQX4bT0tjtRBIF5AOw&s");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    
}

.withBgColor .title{
    font-size: 30px;
    text-align: center;
}

.withBgColor .body{
    font-size: 20px;
}

.story .full{
    display: none;
}

.story .readMore:hover .full{
    text-decoration: none;
    color:black;
display: block;
}

.subMenu{
    display: none;
    width: 170px;
    background-color: black;
    color: white;
    float: right;
    right: 20px;
}
.subMenu li{
    display: block;
}
.subMenu a:hover{
    font-size: unset;
}

.hasMenu:hover .subMenu{
display: block;
position: absolute;

}

.footer{
    padding: 30;
    display: flex;
}

.footer h4{
    font-size: 20px;
    color: #141414;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.footer .each-space{
    width: 30%;
    margin: 30px;
}

.footer .news{
    width: 80%;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 16px;
    font-family: cursive;
}

.social{
    margin-top: 20px;
    display: flex;
}

.social-btn{
    padding: 10px;
    width: 35px;
    border-radius: 60px;
    text-align: center;
    color: white;
    font-size: 28px;
    margin-right: 10px;
}

.fb{
    background-color: blue;
}

.tw{
    background-color: #208ac7;
}

.ig{
    background-color: #be4414;
}


.signup-body{
    margin-left: 30%;
    width: 40%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 30px;
}

.one-field{
    display: flex;
    margin: 10px 0 10px;
}

.one-field label{
font-size: 18px;
font-family: 'Trebuchet MS';
margin-right: 10px;
margin-top:5px;
width: 150px;
text-align: right;
}

.one-field .text{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    }

    .row{
        /* display: flex; */
        width: 100%;
        margin-bottom: 60px;;
        
    }
.left{
    position: absolute;
        margin-left: 0%;
        z-index:5;
}
    .half{
        position: absolute;
        color: blue;
        z-index:6;
        margin-left: 19%;
        /*  ; */
    }
    
    